* { 
    margin:0;
    padding:0;
    font-family: Roboto;
    font-size: 18px;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
    border:0;
}
input {
    outline: none;
    border: none;
}
/**********************/

body {
	background: #fff;
	color: #000;
}
#header {
	width: 1024px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
#content {
	width: 1024px;
	margin: 0 auto;
	padding: 20px;
    height: 100%;
}
.wrap {
	width: 100%;
	border-bottom: 2px solid #000;
}
#footer {
	border-top: 2px solid #000;
	padding: 20px;
    clear: both;
}
h1 {
	font-size: 24px;
}
h2 {
    text-transform: uppercase;
}
menu {
	width: 1024px;
	margin: 0 auto;
}
menu li {
	display: inline-block;
	list-style-type: none;
	margin-right: 50px;
	height: 75px;
	line-height: 75px;	
}

a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

menu a:hover {
	border-bottom: 2px solid #000;
}

input[type='text'] {
	border: 1px solid #000;
	margin-bottom: 10px;
	padding: 5px;
	font-size: 14px;
	height: 25px;
	width: 250px;
}
input[type='submit'] {
	border: 1px solid #000;
	margin-bottom: 10px;
	background-color: #fff;
	padding: 5px;
	width: 100px;
}
textarea {
	width: 300px;
	height: 150px;
	font-size: 12px;
	font-family: "Courier New";
}
.left {
	width:350px;
    float:left;
}
.right {
	width:450px;
	float: right;
}
input[type="checkbox"] {
    margin-right: 10px;
}

.box {
	float: left;
	width: 250px;
	height: 150px;
	display: block;
	text-align: center;
	margin-left: 15px;
}
.box a {
	width: 250px;
	padding-top: 10px;
	height: 140px;
	display: block;
}
.first {
	margin-left: 0px;
}
.header_bg {
	width 100%;
	height: 10px;
	display: block;
}
.header_bg:hover  {
	background-color: #000;
	color: #fff;
}
.project_name {
	border-bottom: 2px solid #000;
	margin-bottom: 20px;
}